@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 287 14% 95%;
  --foreground: 287 5% 10%;
  --card: 287 14% 90%;
  --card-foreground: 287 5% 15%;
  --popover: 287 14% 95%;
  --popover-foreground: 287 95% 10%;
  --primary: 287 54% 75%;
  --primary-foreground: 0 0% 0%;
  --secondary: 287 14% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 249 14% 85%;
  --muted-foreground: 287 5% 40%;
  --accent: 249 14% 80%;
  --accent-foreground: 287 5% 15%;
  --destructive: 0 50% 43%;
  --destructive-foreground: 287 5% 90%;
  --border: 287 20% 50%;
  --input: 287 20% 43%;
  --ring: 287 54% 75%;
  --radius: 0.5rem;
}

.dark {
  --background: 287 14% 10%;
  --foreground: 287 5% 90%;
  --card: 287 14% 10%;
  --card-foreground: 287 5% 90%;
  --popover: 287 14% 5%;
  --popover-foreground: 287 5% 90%;
  --primary: 287 54% 75%;
  --primary-foreground: 0 0% 0%;
  --secondary: 287 14% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 249 14% 25%;
  --muted-foreground: 287 5% 60%;
  --accent: 249 14% 25%;
  --accent-foreground: 287 5% 90%;
  --destructive: 0 50% 43%;
  --destructive-foreground: 287 5% 90%;
  --border: 287 20% 43%;
  --input: 287 20% 43%;
  --ring: 287 54% 75%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .emoji-container {
    @apply relative flex aspect-square w-full;
    @apply items-center justify-center;
    @apply rounded-xl bg-card ring-1 ring-border hover:bg-accent;
  }

  .emoji-item-button {
    /*  3xl is the maximal  */
    @apply cursor-pointer p-6 text-3xl;
  }

  .emoji-copy-hint {
    @apply absolute z-10 select-none rounded-md bg-green-300 px-2 font-bold;
  }

  .emoji-link {
    @apply invisible absolute z-40 m-1 rounded-xl bg-white px-2 py-1 text-sm dark:text-black md:group-hover:visible;
    right: 0;
    top: 0;
  }
}
